<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Datos</servlet-name>
        <servlet-class>es.albarregas.controllers.Datos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Datos2</servlet-name>
        <servlet-class>es.albarregas.controllers.Datos2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidadorIntermedio</servlet-name>
        <servlet-class>es.albarregas.controllers.ValidadorIntermedio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recordar</servlet-name>
        <servlet-class>es.albarregas.controllers.Recordar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Datos</servlet-name>
        <url-pattern>/Datos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Datos2</servlet-name>
        <url-pattern>/Datos2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidadorIntermedio</servlet-name>
        <url-pattern>/ValidadorIntermedio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recordar</servlet-name>
        <url-pattern>/Recordar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
